:root{
    --basic-color: #EEEFF1;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: calc(1110px + 2rem);
    margin: 0 auto;
    padding: 0 1rem;
    position: relative;
}
html{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #353535;
}
img{
    max-width: 100%;
    display: block;
}
a {
    text-decoration: none;
}

/*-------------------------------------------------------*/

.header{
    background-color: #EEEFF1;
    padding-top: 79px;
    padding-bottom: 150px;
}
.nav{

}
.nav__link + .nav__link{
    margin-left: 40px;
}
.nav__link{
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1.6px;
    color: #000;
    line-height: 1.6;
    transition: color 0.3s linear;
}
.nav__link:hover{
    color: #34547A;
    font-weight: 500;
}

/*-------------------------------------------------------*/

.first__section{
    background-color: #EEEFF1;
    padding-bottom: 140px;
}
.main__title{
    color: #000;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 60px;
}
.main__text{
    color: #727272;
    max-width: 540px;
    margin-bottom: 65px;
}
.button{
    color: #fff;
    letter-spacing: 1.6px;
    min-width:  225px;
    background-color: #34547A;
    text-align: center;
    padding: 20px 40px;
    transition: text-decoration 0.2s linear;
}
.button:hover{
    text-decoration: underline;
}
/*-------------------------------------------------------*/

.second__section{
    text-align: center;
}
.section__title{
    color: #000;
    font-size: 32px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 50px;
    margin-top: 112px;
}
.section__text{
    text-align: center;
    color: #727272;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    line-height: 1.6;
}
.card{
    display: inline-block;
}